@import "src/theme/base";

.about {
  &__container {
    padding: 32px;
    width: 100%;
    overflow: auto;

    @include atTablet {
      padding: 64px 32px;
    }
  }

  &__title {
    padding: 16px 0 8px 0;
    margin-top: 0 0 16px 0;
    border-bottom: solid var(--color-dark-1) 1px;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
  }

  &__table-main {
    th,
    tr td .card-views .card-view {
      @include atTablet {
        border: 1px solid var(--color-dark-2);
        padding: 12px 15px;
      }
    }
  }
}

.about__table {
  &-container {
    overflow-x: auto;
  }

  &-main {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;

    tbody tr:nth-child(odd) {
      background-color: var(--color-dark-1);
    }
  }

  &-main-header {
    display: none;

    @include atTablet {
      display: flex;

      & tr {
        display: flex;
        flex-direction: row;
        width: 100%;

        th {
          width: calc(100% / 4);
          text-align: left;
        }
      }
    }
  }

  &-main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-cell {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--color-dark-2);

    @include atTablet {
      padding: 0;
      border: none;
    }
  }
}

.card-views {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  @include atTablet {
    flex-direction: row;
    gap: 0;
  }
}

.card-view {
  display: flex;
  width: 100%;
  font-size: 1rem;

  &:first-child {
    font-weight: bold;
  }

  &-title {
    font-weight: bold;
    width: calc(100% / 4);

    @include atTablet {
      display: none;
    }
  }

  &-value {
    word-break: break-word;
    transition: all ease-in-out 0.2s;
    width: 75%;

    &:first-child {
      font-weight: bold;
    }

    & a {
      text-decoration: none;
    }

    @include atTablet {
      width: 100%;
      font-weight: normal;

      & a:hover {
        font-weight: bold;
        transition: font-weight 0.2s;
        text-decoration: underline;
      }
    }
  }
}
